<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="0.1" package="com.company.cbaUtility" android:installLocation="auto" android:versionCode="1">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="26" />
	<application android:label="cbaUtility" android:icon="@drawable/icon">
		<receiver android:name="com.onesignal.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="com.companyname.cbaUtility" />
			</intent-filter>
		</receiver>
	</application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<permission android:name="com.companyname.cbaUtility.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="com.companyname.cbaUtility.permission.C2D_MESSAGE" />
</manifest>